[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"
Werkzeug = "==0.16.1"
pyopenssl = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
